h1, .h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3, .h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'Barlow Condensed', sans-serif;;
}